<h1>Salut</h1>
<p onclick="myFunction(this, 'red')">Click me to change my text color.</p>
<a href='/test'>Testyut</a>
<script>
function myFunction(elmnt,clr) {
  elmnt.style.color = clr;
  console.log('a mers')
}
</script>